{% extends "template.html" %}

{% block head %}
	{{ parent() }}
	<title>Registration</title>
{% endblock %}

{% block header %}
	<div id="logo">LOGO</div>
{% endblock %}

{% block main %}
	<main>
		<div class="innertube">
			<form action="/login/register" method="post">
			Login:<br>
			<input type="text" name="login"><br>
			Fullname:<br>
			<input type="text" name="fullname"><br>
			E-mail:<br>
			<input type="text" name="email"><br>
			Password:<br>
			<input type="password" name="password"><br>
			<input type="submit">
		</form>
		<p>{{errors.login[0]}}</p>
		<p>{{errors.password[0]}}</p>
		<p>{{errors.fullname[0]}}</p>
		<p>{{errors.email[0]}}</p>
		</div>
	</main>
{% endblock %}

{% block nav %}
{% endblock %}